<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Survey</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <style>
        .error {
            color: #dc3545;
            margin-top: 10px;
        }
        
    </style>
</head>
<body>
    <div class="container">
        <div class="survey-container">
            <form method="POST" class="form-group">
                <h2><b>{{ question['question'] }}</b></h2>
                {% for answer in question['answers'] %}
                <button type="button" class="btn btn-light option-button {% if answer in selected_answers %}selected{% endif %}" data-answer="{{ answer }}">{{ answer }}</button>
                {% endfor %}
                <input type="hidden" name="answers" id="answers">
                <button type="submit" class="btn btn-primary mt-3" style="border-radius: 15px;max-width: 300px;font-size: 24px;border-width: medium;border-color: black;box-shadow: 19px 16px 20px rgba(0, 0, 0, 0.1);border-style: solid; background: #13342e;">Next</button>
            </form>
            {% if error %}
            <p class="error">{{ error }}</p>
            {% endif %}
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script>
        $(document).ready(function() {
            $('.option-button').click(function() {
                $(this).toggleClass('selected');
                updateHiddenInput();
            });

            function updateHiddenInput() {
                var selectedAnswers = [];
                $('.option-button.selected').each(function() {
                    selectedAnswers.push($(this).data('answer'));
                });
                $('#answers').val(selectedAnswers.join(','));
            }
        });
    </script>
</body>
</html>
